<div class="p-grid">
  <app-navigation class="p-col-fixed"></app-navigation>
  <div class="p-col p-m-5 p-d-flex-column p-flex-wrap">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>

    <h1 class="p-m-1">Articles</h1>

    <p-table [value]="articles" [rows]="8" [rowHover]="true" [lazy]="true" dataKey="Id" editMode="row" styleClass="p-datatable-res">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>TaxRate</th>
          <th>Unit</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-article let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="article">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="article.Id" readonly>
              </ng-template>
              <ng-template pTemplate="output">
                {{article.Id}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="article.Title" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{article.Title}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="article.Description" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{article.Description}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="article.Price" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{article.Price}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="taxRates" [(ngModel)]="article.TaxRate" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                <p-dropdown [options]="taxRates" [(ngModel)]="article.TaxRate" [style]="{'width':'100%'}"
                  [readonly]="true"></p-dropdown>
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="articleUnits" [(ngModel)]="article.Unit" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                <p-dropdown [options]="articleUnits" [(ngModel)]="article.Unit" [style]="{'width':'100%'}"
                  [readonly]="true"></p-dropdown>
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="onRowEditInit(article)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
              (click)="updateArticle(article)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
              (click)="onRowEditCancel(article, ri)" class="p-button-rounded p-button-text"></button>
          </td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteArticle($event, article)"
              class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <button pButton (click)="showDialog()" class="p-m-1 p-button-raised" type="button" label="New" icon="pi pi-plus"
      iconPos="left"></button>

    <p-dialog class="p-d-flex p-flex-column p-jc-center p-ai-center p-justify-center p-align-center"
      header="New Article" [(visible)]="displayDialog" [modal]=true>
      <form [formGroup]="newArticleForm" (ngSubmit)="createArticle()">

        <div class="p-md-4 p-float-label p-m-1">
          <input type="text" id="title" formControlName="title" [(ngModel)]="newArticle.Title"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newArticleFormControls.title.errors }" pInputText>
          <label for="title">Title</label>
        </div>

        <div class="p-md-4 p-float-label p-m-1">
          <input type="text" id="description" formControlName="description" [(ngModel)]="newArticle.Description"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newArticleFormControls.description.errors }" pInputText>
          <label for="description">Description</label>
        </div>

        <div class="p-md-4 p-float-label p-m-1">
          <input type="number" id="price" formControlName="price" [(ngModel)]="newArticle.Price"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newArticleFormControls.price.errors }" pInputText>
          <label for="price">Price</label>
        </div>

        <div class="p-md-4 p-float-label p-m-1">
          <p-dropdown id="taxRate" formControlName="taxRate" [options]="taxRates" [(ngModel)]="newArticle.TaxRate"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newArticleFormControls.taxRate.errors }"></p-dropdown>
          <label for="taxRate">TaxRate</label>
        </div>

        <div class="p-md-4 p-float-label p-m-1">
          <p-dropdown id="unit" formControlName="unit" [options]="articleUnits" [(ngModel)]="newArticle.Unit"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newArticleFormControls.unit.errors }"></p-dropdown>
          <label for="unit">Unit</label>
        </div>

        <button pButton type="submit" label="Add Article" class="p-m-3" icon="pi pi-plus"></button>
      </form>
    </p-dialog>
  </div>
</div>
