<div class="p-grid">
  <div class="p-col p-d-flex-column p-flex-wrap">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>

    <p-table [value]="articlePositions" [rows]="8" [lazy]="true" dataKey="Id" editMode="row"
      styleClass="p-datatable-res">
      <ng-template pTemplate="header">
        <tr>
          <th>Article</th>
          <th>Amount</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-articlePosition let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="articlePosition">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="articles" [(ngModel)]="articlePosition.ArticleId" [style]="{'width':'100%'}">
                </p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                <p-dropdown [options]="articles" [(ngModel)]="articlePosition.ArticleId" [style]="{'width':'100%'}"
                  [readonly]="true"></p-dropdown>
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="articlePosition.Quantity" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{articlePosition.Quantity}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="onRowEditInit(articlePosition)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
              (click)="updateArticlePosition(articlePosition)"
              class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
              (click)="onRowEditCancel(articlePosition, ri)" class="p-button-rounded p-button-text"></button>
          </td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-trash"
              (click)="deleteArticlePosition($event, articlePosition)"
              class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <button pButton (click)="showDialog()" class="p-m-1 p-button-raised" type="button" label="New" icon="pi pi-plus"
      iconPos="left"></button>

    <p-dialog class="p-d-flex p-flex-column p-jc-center p-ai-center p-justify-center p-align-center"
      header="New ArticlePosition" [(visible)]="displayDialog" [modal]=true>
      <form [formGroup]="newArticlePositionForm" (ngSubmit)="createArticlePosition()">

        <div class="p-md-4 p-float-label p-m-1">
          <p-dropdown id="articleId" formControlName="articleId" [options]="articles"
            [(ngModel)]="newArticlePosition.ArticleId"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newArticlePositionFormControls.articleId.errors }">
          </p-dropdown>
          <label for="articleId">ArticleId</label>
        </div>

        <div class="p-md-4 p-float-label p-m-1">
          <input type="number" id="articleQuantity" formControlName="articleQuantity"
            [(ngModel)]="newArticlePosition.Quantity"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newArticlePositionFormControls.articleQuantity.errors }"
            pInputText>
          <label for="articleQuantity">ArticleQuantity</label>
        </div>

        <button pButton type="submit" label="Add ArticlePosition" class="p-m-3" icon="pi pi-plus"></button>
      </form>
    </p-dialog>
  </div>
</div>
