<div class="p-grid">
    <app-navigation class="p-col-fixed"></app-navigation>
    <div class="p-col p-m-5 p-d-flex-column p-flex-wrap">
      <p-toast></p-toast>
      <h1 class="p-m-1">Documents</h1>
      <p-table [value]="documents" [scrollable]="true" [rows]="5" scrollHeight="550px" [lazy]="true" dataKey="document_Id"
        editMode="row" styleClass="p-datatable-res">
        <ng-template pTemplate="header">
          <tr>
            <th>Document ID</th>
            <th>Document Number</th>
            <th>Document Type</th>
            <th>Document Creator</th>
            <th>Document Sendee</th>
            <th>Document Status</th>
            <th>Document Positions</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="document">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="document.document_Id">
                </ng-template>
                <ng-template pTemplate="output">
                  {{document.document_Id}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" class="p-button-rounded p-button-text"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <button pButton (click)="showDialog()" class="p-m-1 p-button-raised" type="button" label="New" icon="pi pi-plus"
        iconPos="left"></button>
      <p-dialog class="p-d-flex p-flex-column p-jc-center p-ai-center p-justify-center p-align-center" header="New Document"
        [(visible)]="displayDialog" [modal]=true>
        <div class="p-md-4">
          <span class="p-float-label p-m-1">
            <input type="text" id="number" [(ngModel)]="newDocument.document_Number" pInputText>
            <label for="number">DocumentNumber</label>
          </span>
        </div>
        <button pButton label="Add Document" class="p-m-3" icon="pi pi-plus"></button>
      </p-dialog>
    </div>
  </div>
  