<div class="content-wrapper">
    <app-navigation></app-navigation>
    <div class="p-m-0 container" header="Dashboard">
        <p-card class="gauge p-m-5 p-shadow-12" header="Users">
            <p-knob [(ngModel)]="usersCount" [size]="200" [min]="0" [max]="25" [readonly]="true"></p-knob>
        </p-card>
        <p-card class="gauge p-m-5 p-shadow-12" header="Offene Rechnungen">
            <p-knob [(ngModel)]="rechnungen" [size]="200" [min]="0" [max]="999" [readonly]="true"></p-knob>
        </p-card>
        <p-card class="gauge p-m-5 p-shadow-12" header="Artikel">
            <p-knob [(ngModel)]="artikel" [size]="200" [min]="0" [max]="1400" [readonly]="true"></p-knob>
        </p-card>
    </div>
</div>