<div class="content-wrapper">
    <app-navigation></app-navigation>
    <div class="p-m-0 container">
        <h1>Document</h1>
        <p-table [value]="documents" class="p-shadow-12">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>{{documents.id}}</td>
                    <td>{{documents.firstName}}</td>
                    <td>{{documents.lastName}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>