<div id="flex-wrapper" class="p-d-flex p-jc-center p-ac-center p-m-0">
    <p-card id ="card" class="p-d-flex p-shadow-12 p-m-2" header="Login">
        <span class="p-float-label p-m-2">
            <input pInputText [(ngModel)]="username" id="float-input" type="text" (ng-model)="username" pInputText> 
            <label for="float-input">Username</label>
        </span>
        <span class="p-float-label p-m-2">
            <input pInputText [(ngModel)]="password" id="float-input" type="text" pInputText> 
            <label for="float-input">Password</label>
        </span>
        <button pButton (click)="login()" class="p-m-2" type="button" label="Login" icon="pi pi-chevron-right" ></button>
    </p-card>
</div>
