/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  }

.content-wrapper{
    height: 100vh;
    display: flex;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

app-navigation{
  margin: 0;
  padding: 0;
  height: 100vh;
}