<div class="p-grid">
  <app-navigation class="p-col-fixed"></app-navigation>
  <div class="p-col p-m-5 p-d-flex-column p-flex-wrap">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <h1 class="p-m-1">Users</h1>
    <p-table [value]="users" [scrollable]="true" [rows]="5" scrollHeight="550px" [lazy]="true" dataKey="Id"
             editMode="row" styleClass="p-datatable-res">
      <ng-template pTemplate="header">
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-Mail</th>
          <th>Password</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="user">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.Id" readonly>
              </ng-template>
              <ng-template pTemplate="output">
                {{user.Id}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.DisplayName" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{user.DisplayName}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.FirstName" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{user.FirstName}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.LastName" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{user.LastName}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.Mail" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{user.Mail}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="password" [(ngModel)]="user.Password" required>
              </ng-template>
              <ng-template pTemplate="output">
                ******
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="updateUser(user)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text"></button>
          </td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteUser($event, user)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <button pButton (click)="showDialog()" class="p-m-1 p-button-raised" type="button" label="New" icon="pi pi-plus"
            iconPos="left"></button>
    <p-dialog class="p-d-flex p-flex-column p-jc-center p-ai-center p-justify-center p-align-center" header="New User"
              [(visible)]="displayDialog" [modal]=true>
      <form [formGroup]="newUserForm" (ngSubmit)="createUser()">

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="text" id="username" formControlName="username" [(ngModel)]="newUser.DisplayName"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && newUserFormControls.firstname.errors }" pInputText>
          <label for="username">Username</label>
        </span>
          <div *ngIf="submitted && newUserFormControls.username.errors" class="invalid-feedback"></div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="text" id="firstname" formControlName="firstname" [(ngModel)]="newUser.FirstName"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && newUserFormControls.firstname.errors }" pInputText>
          <label for="firstname">Firstname</label>
        </span>
          <div *ngIf="submitted && newUserFormControls.firstname.errors" class="invalid-feedback"></div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="text" id="lastname" formControlName="lastname" [(ngModel)]="newUser.LastName"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && newUserFormControls.lastname.errors }" pInputText>
          <label for="lastname">Lastname</label>
        </span>
          <div *ngIf="submitted && newUserFormControls.lastname.errors" class="invalid-feedback"></div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="email" id="email" formControlName="email" [(ngModel)]="newUser.Mail"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && newUserFormControls.email.errors }" pInputText>
          <label for="email">Email</label>
        </span>
          <div *ngIf="submitted && newUserFormControls.email.errors" class="invalid-feedback"></div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="password" id="password" formControlName="password" [(ngModel)]="newUser.Password"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && newUserForm.get('password')?.errors }" pInputText>
          <label for="password">Password</label>
        </span>
          <div *ngIf="submitted && newUserForm.get('password')?.errors" class="invalid-feedback"></div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="password" id="confirmPassword" formControlName="confirmPassword"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && newUserFormControls.confirmPassword.errors }"
                 pInputText>
          <label for="confirmPassword">ConfirmPassword</label>
        </span>
          <div *ngIf="submitted && newUserFormControls.confirmPassword.errors" class="invalid-feedback"></div>
        </div>

        <button pButton type="submit" label="Add User" (click)="createUser()" class="p-m-3" icon="pi pi-plus"></button>
      </form>
    </p-dialog>
  </div>
</div>
