<div class="p-grid">
  <app-navigation class="p-col-fixed"></app-navigation>
  <div class="p-col p-m-5 p-d-flex-column p-flex-wrap">
    <p-toast></p-toast>
    <h1 class="p-m-1">Users</h1>

    <p-table [value]="users" [scrollable]="true" [rows]="5" scrollHeight="550px" [lazy]="true" dataKey="User_Id"
             editMode="row" styleClass="p-datatable-res">
      
      <ng-template pTemplate="header">
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-Mail</th>
          <th>Password</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="user">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.User_Id">
              </ng-template>
              <ng-template pTemplate="output">
                {{user.User_Id}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.User_DisplayName">
              </ng-template>
              <ng-template pTemplate="output">
                {{user.User_DisplayName}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.User_FirstName" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{user.User_FirstName}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.User_LastName">
              </ng-template>
              <ng-template pTemplate="output">
                {{user.User_LastName}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="user.User_Mail">
              </ng-template>
              <ng-template pTemplate="output">
                {{user.User_Mail}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="password" [(ngModel)]="user.User_Password">
              </ng-template>
              <ng-template pTemplate="output">
                ******
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(user)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(user)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <button pButton (click)="showDialog()" class="p-m-1 p-button-raised" type="button" label="New" icon="pi pi-plus"
            iconPos="left"></button>

    <p-dialog class="p-d-flex p-flex-column p-jc-center p-ai-center p-justify-center p-align-center" header="New User"
              [(visible)]="displayDialog" [modal]=true>
      <form [formGroup]="newUserForm" (ngSubmit)="createUser()">

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="text" id="username" formControlName="username" [(ngModel)]="newUser.User_DisplayName"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.firstname.errors }" pInputText>
          <label for="username">Username</label>
        </span>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="text" id="firstname" formControlName="firstname" [(ngModel)]="newUser.User_FirstName"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.firstname.errors }" pInputText>
          <label for="firstname">Firstname</label>
        </span>
          <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">Firstname is required</div>
          </div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="text" id="lastname" formControlName="lastname" [(ngModel)]="newUser.User_LastName"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.lastname.errors }" pInputText>
          <label for="lastname">Lastname</label>
        </span>
          <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Lastname is required</div>
          </div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="text" id="email" formControlName="email" [(ngModel)]="newUser.User_Mail"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.email.errors }" pInputText>
          <label for="email">Email</label>
        </span>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="password" id="password" formControlName="password" [(ngModel)]="newUser.User_Password"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.password.errors }" pInputText>
          <label for="password">Password</label>
        </span>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>

        <div class="p-md-4">
        <span class="p-float-label p-m-1">
          <input type="password" id="confirmPassword" formControlName="confirmPassword"
                 [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.confirmPassword.errors }" pInputText>
          <label for="confirmPassword">ConfirmPassword</label>
        </span>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>

        <button pButton type="submit" label="Add User" (click)="createUser()" class="p-m-3" icon="pi pi-plus"></button>
      </form>
    </p-dialog>

  </div>
</div>
