<div class="p-grid">
  <app-navigation class="p-col-fixed"></app-navigation>
  <div class="p-col p-m-5 p-d-flex-column p-flex-wrap">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>

    <h1 class="p-m-1">Postal Codes</h1>

    <p-table [value]="postalCodes" [rows]="4" [lazy]="true" dataKey="Id" editMode="row" styleClass="p-datatable-res">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Number</th>
          <th>City</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plz let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="plz">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="plz.Id" readonly>
              </ng-template>
              <ng-template pTemplate="output">
                {{plz.Id}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="plz.Number" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{plz.Number}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="plz.City" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{plz.City}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-trash" (click)="deletePlz($event, plz)"
              class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <button pButton (click)="showDialog()" class="p-m-1 p-button-raised" type="button" label="New" icon="pi pi-plus"
      iconPos="left"></button>

    <p-dialog class="p-d-flex p-flex-column p-jc-center p-ai-center p-justify-center p-align-center" header="New Plz"
      [(visible)]="displayDialog" [modal]=true>
      <form [formGroup]="newPlzForm" (ngSubmit)="createPlz()">

        <div class="p-md-4 p-float-label p-m-1">
          <input type="text" id="number" formControlName="number" [(ngModel)]="newPlz.Number"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newPlzFormControls.number.errors }" pInputText>
          <label for="number">Number</label>
        </div>

        <div class="p-md-4 p-float-label p-m-1">
          <input type="text" id="city" formControlName="city" [(ngModel)]="newPlz.City"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && newPlzFormControls.city.errors }" pInputText>
          <label for="city">City</label>
        </div>

        <button pButton type="submit" label="Add Plz" class="p-m-3" icon="pi pi-plus"></button>
      </form>
    </p-dialog>
  </div>
</div>
